<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ManagementConnectionString" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33736_management;User ID=DB_33736_management_user;Password=haithem759163" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="SideJobConnectionString" connectionString="Data Source=s04.winhost.com;User ID=DB_33736_sidejob_user;Password=haithem759163" providerName="System.Data.SqlClient" />
    <add name="AdDatabaseEntities" connectionString="metadata=res://*/App_code.AdListModel.csdl|res://*/App_code.AdListModel.ssdl|res://*/App_code.AdListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s06.winhost.com;Initial Catalog=DB_33736_addatabase;User ID=DB_33736_addatabase_user;Password=haithem759163&quot;" providerName="System.Data.EntityClient" />
    <add name="SidejobEntities" connectionString="metadata=res://*/App_code.SideJobLocationModel.csdl|res://*/App_code.SideJobLocationModel.ssdl|res://*/App_code.SideJobLocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s04.winhost.com;user id=DB_33736_sidejob_user;password=haithem759163;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_33736_addatabaseEntities" connectionString="metadata=res://*/App_Code.AdDatabaseEntities.csdl|res://*/App_Code.AdDatabaseEntities.ssdl|res://*/App_Code.AdDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33736_addatabase;User ID=DB_33736_addatabase_user;Password=haithem759163;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="ManagementAspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="ManagementAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ManagementConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="ManagementSideJob" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="ManagementAspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="ManagementAspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ManagementConnectionString" />
      </providers>
      <properties>
        <add name="FirstName" type="string" defaultValue="null" />
        <add name="LastName" type="string" defaultValue="null" />
        <add name="Gender" type="string" defaultValue="null" />
        <add name="Age" type="string" defaultValue="null" />
        <add name="Country" type="string" defaultValue="null" />
        <add name="CountryID" type="Int32" defaultValue="0" />
        <add name="Region" type="string" defaultValue="null" />
        <add name="RegionID" type="Int32" defaultValue="0" />
        <add name="City" type="string" defaultValue="null" />
        <add name="CityID" type="Int32" defaultValue="0" />
        <add name="Zipcode" type="string" defaultValue="null" />
        <add name="MaritalStatus" type="string" defaultValue="null" />
        <add name="Industry" type="string" defaultValue="null" />
        <add name="Email" type="string" defaultValue="null" />
        <add name="Question" type="string" defaultValue="null" />
        <add name="Answer" type="string" defaultValue="null" />
        <add name="Profession" type="string" defaultValue="null" />
        <add name="ProfessionID" type="string" defaultValue="null" />
        <add name="CompanyURL" type="string" defaultValue="null" />
        <add name="Cellphone" type="string" defaultValue="null" />
        <add name="Facebook" type="string" defaultValue="null" />
        <add name="LinkedIn" type="string" defaultValue="null" />
        <add name="Twitter" type="string" defaultValue="null" />
        <add name="Picture1" type="string" defaultValue="/images/DefaultTiny.png" />
        <add name="Picture2" type="string" defaultValue="/images/DefaultTiny.png" />
        <add name="Picture3" type="string" defaultValue="/images/DefaultTiny.png" />
        <add name="Picture4" type="string" defaultValue="/images/DefaultTiny.png" />
        <add name="Language" type="string" defaultValue="null" />
        <add name="LCID" type="Int32" defaultValue="1" />
        <add name="Description" type="string" defaultValue="null" />
      </properties>
    </profile>
    <roleManager enabled="true" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>